# virtualenv
.venv

# VS Code
*.code-workspace
.vscode

# Python
*.pyc
__pycache__

# Docker
Dockerfile
.dockerignore
.env
docker-compose*.yml

# Git
.git
.gitignore

# Flask
instance

# Project specific
README.md
ignore
db_data
uploads
